head
  title Medical App
  style 
    include ../stylesheets/styles.css
  meta(charset='utf-8')
.topbar
  img#logo(src='/images/patientMonitoringlogo.jpg')
.sidebar
  ul
    li
      a(href='/') Home
    if (admin == 1)
      li
        a(href='/AdminPanel') Admin Panel
#activityAdd.contentContainer
  h1 Admin Panel
  h2 Add Section
  form(method='POST')
    input(type='text-area' placeholder='Name' name='Name' value=''+results.Name)
    
    label(for="SensoryData") Sensory Data
    
    if results.SensoryData == 1
      input(type='checkbox' name='SensoryData' checked)
    else 
      input(type='checkbox' name='SensoryData')
    label(for="MentalData") Mental Data
    if results.MentalData == 1
      input(type='checkbox' name='MentalData' checked)
    else 
      input(type='checkbox' name='MentalData')
    label(for="DiseaseData") Disease Data
    if results.DiseaseData == 1
      input(type='checkbox' name='DiseaseData' checked)
    else 
      input(type='checkbox' name='DiseaseData')
    button(type='submit') Submit