head
  title Medical App
  style 
    include ../stylesheets/styles.css
  meta(charset='utf-8')
.topbar
  img#logo(src='/images/patientMonitoringlogo.jpg')
.sidebar
  ul
    li
      a(href='/') Home
    if (admin == 1)
      li
        a(href='/AdminPanel') Admin Panel
#HealthActivity.contentContainer
  h1 Health Data
  
  table
    tr
      td ID
      td Body Temperature
      td Pulse Rate
      td Blood Pressure
      td Resperation Rate
      td ECG
    each result in results
        tr
        each line in result
            td #{line}

  #buttonContainer
    button(onclick='Add()') Add
    button(onclick='Remove()') Remove
    button(onclick='Edit()') Edit

  script.
    function Remove() {
      let id = prompt("Please enter the Record ID you would like to remove");
      if (id == null || id == "") {
        alert("Removal Cancelled");
      } else {
        var data = {RecordID: id};
        var http = new XMLHttpRequest();
        http.open("POST", window.location.href + '/Remove', true);
        http.setRequestHeader("Content-Type", "application/json");
        http.send(JSON.stringify(data));
      }
    }
    function Add() {
        var url = window.location.href;
        window.location.href = url + '/Add';
    }
    function Edit() {
        let id = prompt("Please enter the Record ID you would like to edit");
        if (id == null || id == "") {
        alert("Removal Cancelled");
      } else {
        var url = window.location.href;
        window.location.href = url + '/'+id+'/Edit'
      }
    }