doctype html
| PASTE YOUR HTML CODE HERE
head
  title Medical App
  style 
    include ../stylesheets/styles2.css'
  meta(charset='utf-8')
.topbar
  img#logo(src='../images/patientMonitoringlogo.jpg')
.sidebar
  ul
    li
      a(href='home.html') Home
    li
      a(href='HealthActivitiesMenu.html') Health Activities
    li
      a(href='') Exercise Tracker
    li
      a(href='') Medication Tracker
#HealthActivity.contentContainer
  h1 ACTIVITY NAME
  #graphContainer
  table
    tr
      td ID
      td PulseRate
      td Body Temp
      td Blood Pressure
      td Resperation Rate
    tr
      td 1
      td 80
      td 39
      td 120/80
      td 10
  form
    button Add
    button Remove
    button Edit
