doctype html
head
  title Medical App
  style 
    include ../stylesheets/styles2.css
  meta(charset='utf-8')
.topbar
  img#logo(src='../images/patientMonitoringlogo.jpg')
.sidebar
  ul
    li
      a(href='home.html') Home
    li
      a(href='HealthActivitiesMenu.html') Health Activities
    li
      a(href='') Exercise Tracker
    li
      a(href='') Medication Tracker
#HealthActivity.contentContainer
  h1 #{name}
  #graphContainer
  table
    tr
    each field in fields
      td #{field.name}
    each result in results
      tr
        each line in result
          td #{line}
  form
    button Add
    button Remove
    button Edit
