head
  title Medical App
  style
    include ../stylesheets/styles.css
  meta(charset='utf-8')
.topbar
  img#logo(src='/images/patientMonitoringlogo.jpg')
.sidebar
  ul
    li
      a(href='/') Home
    if (admin == 1)
      li
        a(href='/AdminPanel') Admin Panel
#homepage.contentContainer
  h1 Welcome back, #{firstname}
  each section in sections
    .HealthActivitiesMenuOption
        a(href='/Activities/' + section.ID) #{section.Name}