doctype html
| PASTE YOUR HTML CODE HERE
head
  title Medical App
  style 
    include ../stylesheets/styles2.css
  meta(charset='utf-8')
.topbar
  img#logo(src='../images/patientMonitoringlogo.jpg')
.sidebar
  ul
    li
      a(href='home') Home
    li
      a(href='HealthActivitiesMenu') Health Activities
    li
      a(href='exercisetracker') Exercise Tracker
    li
      a(href='medicationtracker') Medication Tracker
#homepage.contentContainer
  h1 Welcome back, #{firstname}
  #medicationNotification
    h2 Medication to take today
    table
      tr
        td Paracetamol
        td 200mg
