head
  title Medical App
  style 
    include ../stylesheets/styles.css
  meta(charset='utf-8')
.topbar
  img#logo(src='/images/patientMonitoringlogo.jpg')
#loginBox
  h1 Login
  h2
    | Don&apos;t have an account? 
    a(href='/register') Register
  form(action='/login' method='POST')
    input(type='text' placeholder='Email' name='email' value='test@test.com' pattern="^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$" )
    input(type='password' placeholder='Password' name='password' value='TestPass')
    button(type='submit') Submit