doctype html
head
  title Login | Medical App
  style 
    include ../stylesheets/styles2.css
  meta(charset='utf-8')
.topbar
  img#logo(src='images/logo.png')
#loginBox
  h1 Login
  h2
    | Don&apos;t have an account? 
    a(href='register') Register
  form(method='post' action='/login')
    p Email
    input#email(type='text' placeholder='Email' name='email')
    p Password
    input#password(type='password' placeholder='Password' name='password')
    button(type='submit' value='Submit') Submit