head
  title Medical App
  style 
    include ../stylesheets/styles.css
  meta(charset='utf-8')
.topbar
  img#logo(src='/images/patientMonitoringlogo.jpg')
.sidebar
  ul
    li
      a(href='/') Home
    li
      a(href='') Settings
#activityAdd.contentContainer
  h1 Mnetal Notes
  h2 Add Note
  form(method='POST')
    input(type='text-area' placeholder='Note' name='Note')
    button(type='submit') Submit