head
  title Medical App
  style 
    include ../stylesheets/styles.css
  meta(charset='utf-8')
.topbar
  img#logo(src='/images/patientMonitoringlogo.jpg')
.sidebar
  ul
    li
      a(href='/') Home
    if (admin == 1)
      li
        a(href='/AdminPanel') Admin Panel
#activityAdd.contentContainer
  h1 Mnetal Notes
  h2 Add Note
  form(method='POST')
    input(type='text-area' placeholder='Note' name='Note' value=''+ results.Notes)
    button(type='submit') Submit