head
  title Medical App
  style 
    include ../stylesheets/styles.css
  meta(charset='utf-8')
.topbar
  img#logo(src='/images/patientMonitoringlogo.jpg')
#loginBox
  h1 Register
  h2
    | Already have an account? 
    a(href='/login') Login
  form(action='/register' method='POST')
    input(type='text' placeholder='Firstname' name='firstname' required)
    input(type='text' placeholder='Surname' name='surname' required)
    input(type='text' placeholder='Email' name='email' required)
    input(type='password' placeholder='Password' name='password' required)
    input(type='password' placeholder='Confirm Password' required)
    button(type='submit') Submit
script(type='text/javascript').
  #{javascript}