head
  title Medical App
  style 
    include ../stylesheets/styles.css
  meta(charset='utf-8')
.topbar
  img#logo(src='/images/patientMonitoringlogo.jpg')
#loginBox
  h1 Register
  h2
    | Already have an account? 
    a(href='/login') Login
  form(action='/register' method='POST')
    input(type='text' placeholder='Firstname' name='firstname')
    input(type='text' placeholder='Surname' name='surname')
    input(type='text' placeholder='Email' name='email' pattern="^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$")
    input(type='password' placeholder='Password' name='password' pattern='^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$')
    input(type='password' placeholder='Confirm Password')
    button(type='submit') Submit
script(type='text/javascript').
  #{javascript}