head
  title Medical App
  style 
    include ../stylesheets/styles.css
  meta(charset='utf-8')
.topbar
  img#logo(src='/images/patientMonitoringlogo.jpg')
.sidebar
  ul
    li
      a(href='/') Home
    li
      a(href='') Settings
#activityAdd.contentContainer
  h1 Add Reminder
  form(method='POST')
    input(type='text' placeholder='Name' name='Name')
    label(for="Date") Reminder Date 
    input(type='date' name='Date')
    label(for="Repeats") Repeat reminder?
    input(type='checkbox' placeholder='Repeats?' name='Repeats')
    label(for="Period") How often in days (Optional)
    input(type='text' placeholder='Period' name='Period')
    button(type='submit') Submit