doctype html
head
  title Medical App
  style 
    include ../stylesheets/styles2.css
  meta(charset='utf-8')
  script.
    const SectionId = #{activityId};

    function Remove() {
      let id = prompt("Please enter the activity ID you would like to remove");
      if (id == null || id == "") {
        alert("Removal Cancelled");
      } else {
        var data = {SectionID: SectionId, ActivityID: id};
        var http = new XMLHttpRequest();
        http.open("POST", '/RemoveActivity', true);
        http.setRequestHeader("Content-Type", "application/json");
        http.send(JSON.stringify(data));
      }
    }
.topbar
  img#logo(src='../images/patientMonitoringlogo.jpg')
.sidebar
  ul
    li
      a(href='/') Home
    li
      a(href='/HealthActivitiesMenu') Health Activities
    li
      a(href='') Exercise Tracker
    li
      a(href='') Medication Tracker
#HealthActivity.contentContainer
  h1 #{name}
  #graphContainer
  table
    tr
    each field in fields
      td #{field.name}
    each result in results
      tr
        each line in result
          td #{line}
  #buttonContainer
    button Add
    button(onclick='Remove()') Remove
    button Edit
