body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Content Container CSS */
.contentContainer {
    width: 90%;
    margin: 0 0 0 auto;
}
.contentContainer h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 0;
    padding: 1em 0 0 0;
}
.contentContainer h2 {
    text-align: center;
}

/* Topbar CSS */
.topbar {
    height: 8vh;
    width: 100%;
    margin: 0;
    position: sticky;
    top: 0;
    background-color: #00a9ce;
}

/* Sidebar CSS */
.sidebar {
    margin: 0;
    width: 10%;
    height: 100%;
    background-color: #ace3ef;
    float: left;
    position: fixed;
}

.sidebar ul {
    list-style-type: none;
    margin: 2em 0 0 0;
    padding: 0;
}

.sidebar li a {
    display: block;
    padding:2em 5%;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    color: #000000;
    border:0.5em;
    border-color:rgb(115, 115, 250);
    background-color: #97dceb;
}
.sidebar li a:hover {
    transition: 0.5s;
    background-color: #84ddf1;
}
.sidebar li a.active{
 background-color: #6ccde3;
}

.topbar img {
    float: right;
    height: 4em;
    width: 4em;
    margin: 0.5em 2em 0 0;
}

/* Login/Signup page specific CSS */
#loginBox {
    margin: 3% auto auto auto;
    width: 25%;
    text-align: center;
}
#loginBox h1 {
    font-size: 2.5em;
}
#loginBox h2 {
    font-size: 1.5em;
    margin-bottom: 1.5em;
}
#loginBox h2 a {
    text-decoration: none;
    color: #00a9ce;
}
#loginBox p {
    float: left;
    font-size: 1.5em;
    margin: 0 0 0 ;
}
#loginBox input {
    margin: 0 0 1em;
    font-size: 2em;
    width: 100%;
    background-color: darkgray;
    padding: 0.2em;
    border-width: 0;
}
#loginBox button {
    margin: 1.5em 0 0 0;
    width: 30%;
    height: 3em;
    border-radius: 0;
    border-width: 0;
    background-color: grey;
    font-size: 1.25em;
}
#loginBox button:active {
    background-color: darkgray;
}

/* Homepage CSS */
#homepage h1 {
    text-align: left;
    margin: 2% 0 0 2%;
    font-size: 2.5em;
}
#homepage h2 {
    text-align: left;
}
#medicationNotification {
    margin: 2% 0 0 2%;
}

/* HealthActivitiesMenu CSS */
.HealthActivitiesMenuOption {
    display: inline-block;
    background-color: #5ce0c8;
    margin: 4rem 2rem 0rem 4rem;
    width: 10%;
    padding: 6rem 4rem 6rem 4rem;
    text-align: center;
    font-size: 2em;
    border-radius: 1em;
}
.HealthActivitiesMenuOption a {
    text-decoration: none;
    color: #000000;
}

/* Health Activity CSS */
#HealthActivity #graphContainer {
    background-color: gray;
    width: 25%;
    height: 18rem;
    float: right;
    margin: 4rem 8rem 0 0;
}
#HealthActivity table {
    margin: 4rem 0 0 6rem;
    border-collapse: collapse;
}
#HealthActivity td {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 0.1em solid black
}
#HealthActivity #buttonContainer {
    margin: 1rem 0 0 6rem;
}
#HealthActivity button {
    border-radius: 0;
    border-width: 0;
    background-color: gray;
    width: 4rem;
    height: 2.5rem;
}
#HealthActivity button:active {
    border-radius: 0;
    border-width: 0;
    background-color: darkgray;
    width: 4rem;
    height: 2.5rem;
}

/* Activity Add CSS */

#activityAdd form {
    width: 40%;
    display: block;
    margin: 6rem auto 0 auto;
}
#activityAdd input {
    width: 100%;
    display: block;
    margin: 0 auto 2rem auto;
    font-size: 1.5rem;
    border-radius: 0;
    border-width: 0;
    background-color: darkgray;
    padding: 1rem;
}
#activityAdd button {
    width: 20%;
    display: block;
    font-size: 1.5rem;
    margin: auto;
    background-color: gray;
    border-radius: 0;
    border-width: 0;
    padding: 0.5rem 0 0.5rem 0;
}
#activityAdd button:active {
    width: 20%;
    display: block;
    font-size: 1.5rem;
    margin: auto;
    background-color: darkgray;
}
#MenuContainer {
    display: inline-block;
    width: 75%;
}
#ReminderContainer {
    display: inline-block;
    width: 25%;
}
#homepage button {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
    display: inline-block;
    margin: 2.5rem 0rem 0 1.75rem;
    border-radius:100px;
    cursor: pointer;
    border:none;
}
#homepage button:hover{
    width: 5.5rem;
    height:5.5rem;
    font-size: 3.5rem;
    box-shadow:5px 5px 20px #aeaeae;
    transition-duration: 0.5s;
}
#homepage h2 {
    margin-left: 1.5em;
}
/*top banner img*/
#topBanner{
   width:100%;
   height: 15em;
}