body {
    margin: 0;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.topbar {
    height: 4rem;
    width: 100%;
    padding: 10;
    background-color: lightskyblue;
    /*box-shadow: 1rem 0rem 2rem; */
    position: fixed;
}

.topbar #logo {
    /*margin: 0.5rem 0 0 1rem;*/
    float: right;
    height: 3rem;
    width: 3rem;
    padding-right: 50px;
    padding-top: 8px;
}

.topbar h1 {
    display: inline;
    padding-left: 500px;
}

/*.sidebar {
    background-color: #403d39;
    height: 100%;
    width: 15rem;
    position: fixed;
}*/

/* The sidebar menu */
.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 150px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: lightskyblue;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 100px;
}

/* The navigation menu links */
.sidenav a {
    padding: 50px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 160px;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.button {
    border: none;
    color: white;
    /*padding: 100px 50px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button #button1 {
    display: inline-block;
    padding-top: 50px;
    padding-left: 50px;
}

.button #button2 {
    display: inline-block;
    padding-left: 20px;
}

.button #button3 {
    padding-top: 20px;
    padding-right: 125px;
}

.button #add {
    width: 150px;
    height: 35px;
}

.button #edit {
    width: 150px;
    height: 35px;
}

.button #remove {
    width: 150px;
    height: 35px;
}

#graph {
    padding-left: 50px;
    padding-top: 20px;
}

#record {
    padding-left: 160px;
    color: white;
}

.column {
    float: left;
    width: 50%;
    padding-top: 4rem;
}

form {
    padding-left: 450px;
    padding-top: 100px;
}

input[type=submit] {
    background-color: lightblue;
    border: 1px solid black;
    color: black;
    padding: 10px 50px;
    cursor: pointer;
    margin: 20px 356px;
}

input[type=text] {
    width: 456px;
    padding: 12px 20px;
    border: 2px solid lightblue;
}

textarea {
    height: 150px;
    width: 456px;
    border: 2px solid lightblue;
    padding: 12px 20px;
    resize: none;
}

select {
    width: 500px;
    padding: 12px 20px;
    border: 2px solid lightblue;
}

label {
    margin-top: 10px;
}

#loginBox {
    padding: 0.5rem 1rem 2rem 1rem;
    margin: 3rem auto auto auto;
    background-color: #403d39;
    border-radius: 1rem;
    width: 50rem;
    box-shadow: 0.75rem 0.75rem 2rem;
}

#loginBox h1 {
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    margin-bottom: 0;
    font-weight: bold;
}

#loginBox h2 {
    font-size: 1.25rem;
    text-align: center;
    color: #ffffff;
    margin-top: 0;
    font-weight: lighter;
}

#loginBox a {
    text-decoration: underline;
    color: #ffffff;
}

#loginBox input {
    margin: 1rem auto 2rem auto;
    width: 46rem;
    height: 3.5rem;
    padding: 0 0.5rem 0 0.5rem;
    display: block;
    background-color: #252422;
    border-radius: 0.5rem;
    color: #ffffff;
    opacity: 75%;
    font-size: 1.5rem;
}

#loginBox input::placeholder {
    color: #ffffff;
    opacity: 80%;
}

#loginBox button {
    display: block;
    width: 8rem;
    height: 4rem;
    border-radius: 0.5rem;
    margin: 0.5rem 2rem 0 auto;
    font-size: 2rem;
    color: #ffffff;
    background-color: #008000;
    border-width: 0;
}

#loginBox button:active {
    background-color: #016601;
}

#loginBox p {
    color: white;
    font-size: 1.25rem;
    margin-left: 1.4rem;
    margin-bottom: 0;
}