body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Topbar CSS */
.topbar {
    height: 5em;
    width: 100%;
    margin: 0;
    background-color: #00a9ce;
}

/* Sidebar CSS */

.sidebar {
    margin: 0;
    width: 15%;
    height: 100%;
    background-color: #ace3ef;
    position: fixed;
}
.sidebar ul {
    list-style-type: none;
    margin: 2em 0 0 0;
    padding: 0;
}
.sidebar li {
    padding: 4em 0 6em 0;
    text-align: center;
    width: 100%;
    display: block;
    
}
.sidebar li a {
    font-size: 2em;
    text-decoration: none;
    color: #000000;
}
.sidebar li a:hover {
    color: #212121;
}

.topbar img {
    float: right;
    height: 4em;
    width: 4em;
    margin: 0.5em 2em 0 0;
}

/* Login/Signup page specific CSS */
#loginBox {
    margin: 3% auto auto auto;
    width: 25%;
    text-align: center;
}
#loginBox h1 {
    font-size: 2.5em;
}
#loginBox h2 {
    font-size: 1.5em;
    margin-bottom: 1.5em;
}
#loginBox h2 a {
    text-decoration: none;
    color: #00a9ce;
}
#loginBox p {
    float: left;
    font-size: 1.5em;
    margin: 0 0 0 ;
}
#loginBox input {
    margin: 0 0 1em;
    font-size: 2em;
    width: 100%;
    background-color: darkgray;
    padding: 0.2em;
    border-width: 0;
}
#loginBox [type=date] {
    opacity: 75%;
}
#loginBox button {
    margin: 1.5em 0 0 0;
    width: 30%;
    height: 3em;
    border-radius: 0;
    border-width: 0;
    background-color: grey;
    font-size: 1.25em;
}
#loginBox button:active {
    background-color: darkgray;
}

/* Homepage CSS */
#homepage {
    width: 85%;
    float: right;
}
#homepage h1 {
    margin: 2% 0 0 2%;
    font-size: 2.5em;
}
#medicationNotification {
    margin: 2% 0 0 2%;
}